@import "tailwindcss";

@theme {
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);

  --color-primary: #5227FF;
  --color-secondary: #FF9FFC;
  --color-accent: #B19EEF;
  
  --color-foreground: #ffffff;
  --color-background: #050505;
  --color-muted: #1f1f1f;
  --color-muted-foreground: #a0a0a0;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
    background-size: 200% auto;
    animation: gradient-x 3s ease infinite;
}

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}
